<div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" fxFlex.gt-xs="33">
    <mat-card class="p-0">
      <mat-card-title class="mat-bg-primary m-0">
        <div class="card-title-text">
          <span>Card with heading</span>
          <span fxFlex></span>
          <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu1">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu1="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
            <button mat-menu-item>
                <mat-icon>close</mat-icon>
                <span>Remove panel</span>
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <img mat-card-image src="assets/images/photo-2.jpg">
      <mat-card-content>
        <p>
          Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur eveniet iste iusto
          veritatis. Adipisci quas repellat sed. Quasi quaerat aut.
        </p>
        <mat-divider class="mb-1"></mat-divider>
        <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
        <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-xs="33">
    <mat-card class="p-0">
      <mat-card-title class="mat-bg-accent m-0">
        <div class="card-title-text">
          <span>Card with heading</span>
          <span fxFlex></span>
          <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu2">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
            <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Remove panel</span>
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <img mat-card-image src="assets/images/photo-1.jpg">
      <mat-card-content>
        <p>
          Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur eveniet iste iusto
          veritatis. Adipisci quas repellat sed. Quasi quaerat aut.
        </p>
        <mat-divider class="mb-1"></mat-divider>
        <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
        <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex="100" fxFlex.gt-xs="33">
    <mat-card class="p-0">
      <mat-card-title class="mat-bg-warn m-0">
        <div class="card-title-text">
          <span>Card with heading</span>
          <span fxFlex></span>
          <button class="card-control" mat-icon-button [matMenuTriggerFor]="menu3">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>
              <mat-icon>settings</mat-icon>
              <span>Settings</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
            <button mat-menu-item>
              <mat-icon>close</mat-icon>
              <span>Remove panel</span>
            </button>
          </mat-menu>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <img mat-card-image src="assets/images/photo-3.jpg">
      <mat-card-content>
        <p>
          Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, sapiente est atque tenetur eveniet iste iusto
          veritatis. Adipisci quas repellat sed. Quasi quaerat aut.
        </p>
        <mat-divider class="mb-1"></mat-divider>
        <button mat-icon-button><mat-icon class="text-muted">favorite</mat-icon></button>
        <button mat-icon-button><mat-icon class="text-muted">share</mat-icon></button>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
  <div
  fxFlex="100" 
  fxFlex.gt-xs="50">
    <mat-card class="example-card">
      <img mat-card-image src="assets/images/photo-1.jpg">
      <mat-card-content>
        <p>
          Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, 
          sapiente est atque tenetur eveniet iste iusto veritatis magni eum, sunt eius 
          laudantium adipisci repudiandae numquam, incidunt suscipit. Veritatis ea autem, 
          beatae quae quia cum tempora, voluptatum dignissimos. Reiciendis animi, quos sint. 
          Vero maxime molestiae.
        </p>
        <mat-divider class="mb-1"></mat-divider>
        <button mat-icon-button><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button><mat-icon>share</mat-icon></button>
      </mat-card-content>
    </mat-card>
  </div>

  <div 
  fxFlex="100"
  fxFlex.gt-xs="50">
    <mat-card>
      Super simple card
    </mat-card>

    <mat-card class="default">
      <mat-card-title>Standard Card Title</mat-card-title>
      <mat-card-subtitle>Card subtitle</mat-card-subtitle>
      <mat-card-content>
        <p>
          Adipisci quas repellat sed. Quasi quaerat aut nam possimus vitae dignissimos, 
          sapiente est atque tenetur eveniet iste iusto veritatis magni eum, sunt eius 
          laudantium adipisci repudiandae numquam, incidunt suscipit. Veritatis ea autem, 
          beatae quae quia cum tempora, voluptatum dignissimos. Reiciendis animi, quos sint. 
          Vero maxime molestiae.
        </p>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button color="warn" mat-button>Favorite</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>
