.dropzone { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    min-width: 90%;
    font-weight: 200;
    height: 200px;
    border: 1px dashed blue;
    border-radius: 5px;
    background: white;
    margin: 10px 0;
  
    &.hovering {
        border: 2px solid #f16624;
        color: #dadada !important;
    }
  
    .file-label {
        font-size: 1.2em;
    }
  }
  
  progress::-webkit-progress-value {
    transition: width 0.1s ease;
  }