<mat-card class="p-0">
  <mat-card-title class=" m-0">
    <div class="card-title-text">
      <span>Lists</span>
    </div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <mat-list>
      <h3 matSubheader>Simple List</h3>
      <mat-list-item>List Item 1</mat-list-item>
      <mat-list-item>List Item 2</mat-list-item>
      <mat-list-item>List Item 3</mat-list-item>
    </mat-list>
    <mat-divider class="mb-1"></mat-divider>
    <mat-list>
      <h3 matSubheader>Top management</h3>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/face-1.jpg" alt="">
        <h3 matLine>Mark</h3>
        <p matLine>CEO</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/face-2.jpg" alt="">
        <h3 matLine>Gevorg Spartak</h3>
        <p matLine>COO</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/face-3.jpg" alt="">
        <h3 matLine>Petros Toros</h3>
        <p matLine>CFO</p>
      </mat-list-item>
      <mat-divider class="mb-1"></mat-divider>
      <h3 matSubheader>Subordinates</h3>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/face-4.jpg" alt="">
        <h3 matLine>Roy</h3>
        <p matLine>Marketing Manager</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/face-1.jpg" alt="">
        <h3 matLine>Henrik Gevorg</h3>
        <p matLine>Lead Developer</p>
      </mat-list-item>
      <mat-list-item>
        <img mat-list-avatar src="assets/images/face-1.jpg" alt="">
        <h3 matLine>Jhone Doe</h3>
        <p matLine>Marketing manager</p>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>